<div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;  padding: 15px;">
  <div>
    <h3 style="">Hi <%= @agent.name %>, </h3>

    <div>
      <p>
        You have been assigned a <span style="color: #17a2b8; font-weight: bolder; text-underline: none"><%= link_to 'ticket', ticket_url(@ticket)%></span>.
        Please follow the <span style="color: #17a2b8; font-weight: bolder;"><%= link_to 'link', ticket_url(@ticket) %></span> and attend to it accordingly
      </p>
    </div>
  </div>
  <div style="border-top: 0.3px solid #ccc; width: 100%; padding-top: 15px;">
    Best Regards, <br><br>
    Customer Portal Team
  </div>
</div>
