<div class="comment-card">
  <div class="card col-lg-11 col-xl-11 col-md-11 mx-auto">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 card-text avatar">
          <%= image_tag("profile.jpg", alt: "Profile Picture") %>
        </div>

        <div class="col-md-10 card-text">
          <%= comment.content %>

          <div class="comment-footer">
            Comment posted by: <span class="comment-name"><%= comment.user.name %></span> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
