<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td>
    <div class="btn-group btn-group-toggle btn-sm" data-toggle="buttons">
      <%= admin_actions_helper(user) %>
    </div>
  </td>
</tr>
