<div class="container-fluid">
  <div class="row mt-5">
    <%= render partial: 'admin_side_bar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <%= render 'layouts/flash_message' %>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 mt-5">Dashboard</h1>
      </div>

      <div class="table-responsive mt-5">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th># of Assigned Tickets</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
