<div class="dropdown">
  <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Actions
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Edit Profile', edit_user_path(current_user),  class: 'dropdown-item' %>
    <%= link_to 'Assigned Tickets', edit_user_path(current_user),  class: 'dropdown-item' if current_user.agent? %>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <%= link_to 'Logout', logout_path, method: :delete,  class: 'dropdown-item' %>
  </div>
</div>
