
<h1 class="text-muted text-center"> All Tickets</h1>

<div class="col-md-8 offset-md-2">
  <div class="buttons">
    <button class="btn btn-dark mb-4">
      <%= link_to "Create a Ticket", new_ticket_path, {class: "text-light"} %>
    </button>
  </div>

  <div>
    <%= render @tickets %>
  </div>

</div>
