// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users {
  margin-top: 0;
  padding-top: 1.5em;
}

.buttons {
  button {
    min-width: 6em;
    margin-right: 0.5em;

    a {
      text-decoration: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.index-buttons {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  margin: 0;
}

.comment-card {
  .card {
    margin-top: 15px;

    .card-text {
      .comment-footer {
        font-size: .8em;
        font-style: italic;

        .comment-name {
          font-weight: bold;
        }
      }
    }
  }
}
.scroll {
  background-color: #F5F5F5;
  width: 100%;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}
