.users {
  margin-top: 0;
  padding-top: 1.5em;
}
.assign-ticket {
  display: flex;
  justify-content: space-around;
}

.profile-section {
  margin-top: 6em;
  .profile-image {
    img {
      height: 40vh;
      width: 100%;
    }
  }
}
